<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <title>A fantastical adventure</title>
  </head>
      <style>
    body {border: 5px solid red; border-radius: 5px;}
    p {font-size: 18px; }
  </style>
  <body style="font-family:'Indie Flower', cursive">
    <div class = "container">

    <h1>A spooky Halloween tale</h1>
    <p> I was home alone and scared out of my @Model.Noun.
        I could  hear the wind @Model.Verb_ing, and off in the  distance a/an 
        @Model.Noun2 was howling. I crosssed the  room, locked the 
        @Model.Noun3, and climbed into bed, pulling the 
        @Model.Noun_pl over my 
        @Model.Bodypart. Then it happened. I could hear a/an 
        @Model.Noun4 
        @Model.Verb_ing2 up the stairs. My
        @Model.Bodypart_pl started to chatter and my knees began to 
        @Model.Verb_ing3. The 
        @Model.Furniture was thrust open and there was a huge 
        @Model.Noun5 with hair all over its 
        @Model.Bodypart2. It was my father. "Hi, we're home," he said 
        @Model.Adverb. "Hope you weren't afraid of staying home alone on Halloween."
        "No," I said, lying through my 
        @Model.Bodypart3.
    </p>
        
    </div>
    </body>
</html>