<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>A fantastical adventure</title>
  </head>
    <body>
    <div class = "container">

    <h1>A spooky Halloween tale</h1>
    <p> I was home alone and scared out of my @Model.Noun.
        I could  hear the wind @Model.Verb_Ing, and off in the  distance a/an 
        @Model.Noun2 was howling. I crosssed the  room, locked the 
        @Model.Noun3, and climbed into bed, pulling the 
        @Model.Noun_Pl over my 
        @Model.BodyPart. Then it happened. I could hear a/an 
        @Model.Noun4 
        @Model.Verb_Ing2 up the stairs. My
        @Model.BodyPart_Pl started to chatter and my knees began to 
        @Model.Verb_Ing3. The 
        @Model.Furniture was thrust open and there was a huge 
        @Model.Noun5 with hair all over its 
        @Model.BodyPart2. It was my father. "Hi, we're home," he said 
        @Model.Adverb. "Hope you weren't afraid of staying home alone on Halloween."
        "No," I said, lying through my 
        @Model.BodyPart3.
    </p>
        
    </div>
    </body>
</html>