<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>A fantastical adventure</title>
  </head>
    <body>
    <div class = "container">
   <h1>Popular Pets</h1>
   <p>
       So many @Model.Noun make @Model.Adjective pets! Many families prefer a furry @Model.Animal or a @Model.Adjective1 @Model.Animal1 to cuddle. Some people enjoy having a  @Model.Adjective2 @Model.Animal2 
       for a pet, and still other prefer @Model.Adjective3 @Model.Animal3 . Most pets need @Model.Adjective4 care, like  @Model.Noun1 @Model.Noun2, exercise, and a  @Model.Adjective5 place to sleep. Some pets, like @Model.Animal4 live in @Model.Noun3  or @Model.Noun4 but almost everyone can agree that @Model.Noun5   are fun for everyone!
       
   
   </p> 
   
    </div>
    </body>
